In [1]:
# importing the necessary packages
from datetime import datetime
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
train = pd.read_csv("../kaggle_data/train.csv", index_col=0)
test = pd.read_csv("../kaggle_data/test.csv", index_col=0)
metadata = pd.read_csv("../kaggle_data/tutorial_results/02_metadata.csv", index_col=0)
metadata.head()

,building_id,site_id,primaryspaceusage,sub_primaryspaceusage,sqm,timezone,electricity,hotwater,water,gas,industry,subindustry,heatingtype,yearbuilt,numberoffloors,occupants,rating
136,432,3,0,2,4703.0,1,0,0,0,0,0,2,11,1906.0,5.0,306.0,1.0
137,416,3,0,2,499.3,1,0,1,0,0,0,2,7,1995.0,4.0,306.0,0.0
138,436,3,0,2,9061.0,1,0,0,0,0,0,2,7,2005.0,10.0,451.0,2.0
139,441,3,0,3,7579.0,1,0,0,0,0,0,2,7,1913.0,5.0,379.0,0.0
140,442,3,0,3,5295.0,1,0,1,0,0,0,2,7,1953.0,6.0,306.0,1.0

In [3]:
train.head()

   building_id         day  meter  meter_reading
0            2  2016-02-02    595          102.6
1            2  2016-02-02    207            0.3
2            2  2016-02-03    595           88.8
3            2  2016-02-03    207            0.1
4            2  2016-02-04    595           76.3

In [4]:
train = train.merge(metadata, on='building_id', how='left')
test = test.merge(metadata, on='building_id', how='left')

In [5]:
train.columns

Index(['building_id', 'day', 'meter', 'meter_reading', 'site_id',
       'primaryspaceusage', 'sub_primaryspaceusage', 'sqm', 'timezone',
       'electricity', 'hotwater', 'water', 'gas', 'industry', 'subindustry',
       'heatingtype', 'yearbuilt', 'numberoffloors', 'occupants', 'rating'],
      dtype='object')

In [6]:
categorical_columns = ["building_id", "rating", "meter", "site_id", 
                       "primaryspaceusage", "sub_primaryspaceusage", "timezone", 
                       'electricity', 'hotwater', 'water', 'gas', 'industry', 'subindustry',
                    'heatingtype', "rating"]

In [7]:
for d in [train, test]:
    d["day"] = d["day"].apply(lambda s: datetime.strptime(s, "%Y-%m-%d"))
    d["year"] = d["day"].apply(lambda s: s.year)
    d["month"] = d["day"].apply(lambda s: s.month)
    d["day_number"] = d["day"].apply(lambda s: s.day)
    d["weekday"] = d["day"].apply(lambda s: s.weekday() in [5,6])

    d.drop(columns=["day"], inplace=True)

In [8]:
target = "meter_reading"
columns_to_scale = ['yearbuilt', 'numberoffloors', 'occupants', 
                    ]

In [ ]:
train.head()

### Scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
X_scaled = scaler.fit_transform(train[columns_to_scale])
test_scaled = scaler.fit_transform(test[columns_to_scale])

In [ ]:
train[columns_to_scale] = X_scaled
test[columns_to_scale] = test_scaled

In [ ]:
# train["meter"].unique()
meter_dict = {595:0, 207:1, 649:2, 413:3}
train["meter"].replace(meter_dict, inplace=True)
test["meter"].replace(meter_dict, inplace=True)

In [ ]:
X = train.drop(columns=[target])
Y = train[target]